# Azure SQL / PostgreSQL Connection
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
DB_HOST=seu_servidor.postgres.database.azure.com
DB_NAME=dicompel_db
DB_PORT=5432
DB_SSL=true

# Outras váriaveis se necessário
NODE_ENV=development
